

/*  */

*,*:before,*:after{
	box-sizing: border-box;  
  }

body{
	font-family: "helvetica", sans-serif;
}

body a{
	text-decoration: none;
}

.wrap{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

header{
}

header ul{
	display: flex;
	justify-content: center;
	border: #ccc solid 1px;
	margin-bottom: 30px;
}

header ul li{
	letter-spacing: 1px;
}

header ul li a{
	display: block;
	padding: 20px;
	color: #222;
	font-weight: 800;
}

header ul li a:hover{
	color: #ccc;
	font-weight: 800;
}

header .banner{
	background-image: url();
}


.footer{
	background: #eee;
	font: normal 800 18px Helvetica, sans-serif;
	text-align: center;
	padding: 20px 0;
	letter-spacing: 1px;
}